<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @use.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @use.age %>
</p>

<%= link_to 'Edit', edit_use_path(@use) %> |
<%= link_to 'Back', uses_path %>
